.git
backup
data-log/*
.vscode
gtihub_private
gtihub_private.pub
*.mp4
*.pdf
*.rar
*.sql
*.zip

# *.php
/public/assets/user_uploads/img/*
/public/assets/user_uploads/pdf/*
/public/userlog.txt
/hidden
/vendor

# ignore libraries
/app/libraries/dompdf
/public/dompdf

secret.php
/PHPMailer-master

!/public/assets/user_uploads/img/.gitkeep
!/public/assets/user_uploads/img/avatar.png
!/public/assets/user_uploads/pdf/.gitkeep
/app/Config/secret.php
/app/Config/db.php
# /app/Config/global.php