html {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.font-Poppins {
  font-family: "Poppins", sans-serif;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  /* display: none; */
}

@-moz-document url-prefix() {
  html,
  body {
    scrollbar-width: none;
  }
}

body::-webkit-scrollbar {
  display: none;
}

@-moz-document url-prefix() {
  .hideScrollbar {
    scrollbar-width: none;
  }
}

.hideScrollbar {
  overflow: hidden;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

a.nostyle:link {
  text-decoration: inherit;
  /* color: inherit; */
}

/* scroller main */

.scroller {
  padding-right: 2vw;
  scrollbar-color: #1f1f1f rgba(196, 196, 196, 0.5);
  scrollbar-width: thin;
}

.scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(196, 196, 196, 0.5);
  box-shadow: inset 0 0 6px rgba(196, 196, 196, 0.5);
  background-color: #ddd;
}

.scroller::-webkit-scrollbar {
  width: 2px;
  background-color: #ddd;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
}

.scroller::-webkit-scrollbar-corner {
  background-color: #1f1f1f;
}

/* scrollbar alt */

.customScroller {
  scrollbar-color: #aba499 #202324;
  scrollbar-width: thin;
}

.customScroller::-webkit-scrollbar-track {
  background-color: #202324;
  color: #aba499;
}

.customScroller::-webkit-scrollbar {
  width: 6px;
  background-color: #202324;
  color: #aba499;
}

.customScroller::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

.customScroller::-webkit-scrollbar-corner {
  background-color: #181a1b;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none !important;
}

.btn {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btnCust {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btnNoHover {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover {
  opacity: 0.9;
}

:root {
  --tests-accent: #4485fd;
  --results-accent: #a584ff;
  --teachers-accent: #ff3600;
}

img {
  display: block;

  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
  pointer-events: none;
}

/* custom table for image uploads */

.custom-table {
  border-collapse: separate !important;
  border-spacing: 0 0.5rem !important;
}

.custom-action-btn {
  cursor: pointer;
}

.custom-table tr td {
  text-align: center;
  padding: 0.75rem 0;
  vertical-align: middle;

  background: #e9ecef;
}

.custom-table tr td:first-child {
  border-radius: 10px 0 0 10px;
}

.custom-table tr td:last-child {
  border-radius: 0 10px 10px 0;
}

.custom-table tbody tr {
  background: #e9ecef;
  border-radius: 10px;
  margin: 1rem 0;

  background: #e9ecef;
  border-radius: 10px;
}

.custom-table tbody tr.ui-sortable-helper {
  background: #babcbe;
}

.custom-table tr.ui-sortable-helper td {
  background: #babcbe;
}

.custom-table tr td .fa-bars {
  cursor: move;
}

.custom-table th {
  font-weight: 500;
}

.custom-table th.noSort::after,
.custom-table th.noSort::before {
  display: none !important;
}

.custom-table td .preview-img {
  cursor: pointer;
  height: 130px;
  width: 200px;
  border-radius: 20px !important;
  margin: 0.75rem auto;
}

.custom-table td .promotion-link {
  text-align: center;
  display: block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
}

.custom-table td .preview-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px !important;
}

.custom-table td .preview-img.preview-img-small {
  height: 50px;
  width: 100px;
  display: block;
}

.custom-table td .preview-img.preview-img-small img {
  object-fit: contain;
  border-radius: 0 !important;
  /* border-radius: 10px !important; */
}

/* Alert Box */

.custom-alert {
  position: fixed;
  bottom: 5vh;
  z-index: 1060;
  left: 50%;
  transform: translate(-50%, 0);
}

.custom-alert .alert-text {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #000000;
  border-radius: 10px;
  padding: 0.7rem 1.7rem;

  color: #ffffff;
  font-size: 1.1rem;
}

.custom-alert.danger-alert .alert-text {
  background: #e35d6a;
  background: #f53d3d;
  /* color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb; */
}

.custom-alert.warning-alert .alert-text {
  color: #856404;
  background: #fff3cd;
  border: 1px solid #ffeeba;
}

.custom-alert.info-alert .alert-text {
  background: #3d8bfd;
}

.custom-alert.success-alert .alert-text {
  background: #1db954;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

@media (orientation: portrait) {
  .custom-alert {
    width: 90%;
  }

  .custom-alert .alert-text {
    font-size: 1rem;
  }
}
